@import '../mixins.scss';

nav.header__nav {
  display: flex;
  justify-content: flex-end;

  &.header__nav--show {
    button {
      &.se-widget-button {
        position: fixed;
        z-index: 9999;
        top: 55px;
        left: calc(50% - (200px / 2));
        width: 200px;
        margin: 0;
      }

      &.button-cta {
        align-items: center;
      }
    }
  }

  .menuPrimaryNavigationContainer {
    display: flex;

    .menuPrimaryNavigation {
      display: flex;
      

      // Mobile Nav
      &.header__nav--show {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        background: var(--color__primary--trans);
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 6rem;
        overflow-y: scroll;
      }

      & > li {
        margin: 0.125rem 0;

        @include breakpoint(xlarge) {
          margin: 0 0.25rem;
        }

        // Mobile Nav
        &.menu-item-has-children {
          position: relative;

          & > .header__nav-button-drop {
            position: absolute;
            right: calc((-1rem + -0.5rem) - 0.5rem - 0.5rem);
            top: 0.25rem;
            content: "";
            width: 1.5rem;
            height: 2rem;
            background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI1LjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjQgMjQ7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDpub25lO30KCS5zdDF7ZmlsbDojMzMzMzMzO30KPC9zdHlsZT4KPHBhdGggY2xhc3M9InN0MCIgZD0iTTAsMGgyNHYyNEgwVjB6Ii8+CjxwYXRoIGNsYXNzPSJzdDEiIGQ9Ik0xNi42LDguNkwxMiwxMy4yTDcuNCw4LjZMNiwxMGw2LDZsNi02TDE2LjYsOC42eiIvPgo8L3N2Zz4K') white center no-repeat;
            border-radius: var(--border-radius);
            text-indent: -10000rem;
            border: none;

            &.header__nav-button-drop--expand-less {
              background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI1LjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjQgMjQ7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDpub25lO30KCS5zdDF7ZmlsbDojMzMzMzMzO30KPC9zdHlsZT4KPHBhdGggY2xhc3M9InN0MCIgZD0iTTAsMGgyNHYyNEgwVjB6Ii8+CjxwYXRoIGNsYXNzPSJzdDEiIGQ9Ik0xMiw4bC02LDZsMS40LDEuNGw0LjYtNC42bDQuNiw0LjZMMTgsMTRMMTIsOHoiLz4KPC9zdmc+Cg==') white center no-repeat;
            }

            @include breakpoint(medium) {
              right: calc((-1rem + -0.5rem) - 0.5rem);
            }

            @include breakpoint(xlarge) {
              display: none;
            }
          }
        }

        a {
          background: hsla(0, 100%, 100%, 1);
          padding: 0.5rem;
          border-radius: 3px;
          font-weight: 600;
          color: var(--color__primary);
          text-decoration: none;
          display: block;
          position: relative;
          letter-spacing: var(--letter-spacing);
          // width: 60vw;
          width: clamp(200px, 200px, 30vw);

          @include breakpoint(xlarge) {
            width: auto;
          }

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 3px;
            background: var(--color__primary);
            transition: width 0.2s ease-in-out;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
          }

          &:hover {
            background: hsla(0, 100%, 100%, 1);

            &::after {
              left: 0;
              width: 100%;
            }
          }
        }

        &.nav__schedule-service > a {
          background: linear-gradient(130deg, var(--color__secondary), var(--color__attention));
          background-size: 200% 200%;
          animation: navAnimation 5s ease infinite;
          color: white;

          &::after {
            background: var(--color__attention);
          }
        }
      }

      & > li.menu-item-has-children {
        position: relative;

        .sub-menu {
          @include breakpoint(large) {
            position: absolute;
            left: 0;
            top: 2.5rem;
            transition: transform 0.3s;
            transform-origin: top;
            transition-delay: 0s;
            width: 14rem;
          }
          
          a {
            @include breakpoint(large) {
              background: var(--color__neutral--very-light);
            } 
          }

          &:not(:hover) {
            display: none;
          }

          &.sub-menu--show {
            display: block;
            position: static;
          }

          & > li {
            margin: 0.125rem 0;
          }
        }
      }

      & > li.menu-item-has-children:hover > .sub-menu {
        @include breakpoint(xlarge) {
          display: block;
        }
  
      }

    }
  }

  &.header__nav--min {
    #menu-primary-navigation {
      & > li {
        a {
          font-size: 0.875rem;
          background: white;
        }
      }
  
      & > li.menu-item-has-children {
        .sub-menu {
          @include breakpoint(medium) {
            top: 2.35rem !important;
          }
        }
      }
    }
  }

  button.se-widget-button {
    @include breakpoint(large) {
      margin: 0 0.25rem;
    }
  }

  .header__nav-cart {
    @include breakpoint(medium) {
      background: none;
      margin: 0 0 0 0.25rem;
      display: flex;
      align-items: center;
      color: white;
      // font-weight: 700;
      text-decoration: none;
      
      svg {
        & > path:nth-of-type(2) {
            fill: white;
        }
      }
    }
  }
}
