@import './mixins.scss';

.card {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    // justify-content: space-between;
    

    &.card--color-primary {
        background: var(--color__primary);

        h4 {
            color: white;
        }

        p {
            color: white;
            flex: 1;
        }
    }

    &.card--color-neutral {
        background: var(--color__neutral--very-light);

        h4 {
            color: var(--color__headings);
        }

        p {
            color: var(--color__text--dark);
        }
    }

    &.card--link {
        justify-content: space-between;
    }

    figure {
        margin-bottom: 0.5rem;
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            padding: 0;
            list-style: none;
            color: white;
            margin: 0.5rem 0;
            border-bottom: solid 1px var(--color__neutral--very-light);
            padding-bottom: 0.5rem;

            &:last-child {
                border-bottom: none;
            }
        }
    }

    & > a.button {
        text-align: center;
    }

    blockquote {
        font-size: 1rem;
        padding: 1rem 0 0 0.75rem;

        &::before {
            content: '\201C';
            font-size: 4rem;
            top: 0.875rem;
            
        }
    }


}