@import "./reset.css";
@import "./variables.scss";
@import "./mixins.scss";

html {
    visibility: visible;
    opacity: 1;
}

body {
    background: var(--color__primary--dark);
    background: linear-gradient(339deg, var(--color__primary--dark) 0%, var(--color__primary) 32%, var(--color__primary--light) 100%);
    font: 1rem/1.5 var(--font);
    color: var(--color__text);
    scroll-behavior: smooth;

    &.body__no-overflow {
        overflow: hidden;
    }

    /** Styles for TinyMCE (WYSIWYG) */
    &#tinymce {
        background: white;
        padding: 1rem;
    }
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

h1 {
    font-size: 2.5rem; //48 was 3rem
    line-height: 1.25;
    font-weight: 300;
    margin: 0 0 0.25rem;

    @include breakpoint(medium) {
        font-size: 3.5rem; // 56
    }
}

h2 {
    font-size: 2rem; //41.6
    line-height: 1.25;
    font-weight: 300;
    margin: 0 0 1rem 0;

    @include breakpoint(medium) {
        font-size: 2.25rem; //36
    }
}

h3 {
    font-size: 1.625rem; // 26
    line-height: 1.25;
    font-weight: 400;
    margin: 0 0 1rem 0;

    @include breakpoint(medium) {
        font-size: 1.875rem; //30
    }
}

h4 {
    font-size: 1.375rem; // 22 
    line-height: 1.25;
    font-weight: 400;
    margin: 0 0 0.5rem 0;


    @include breakpoint(medium) {
        font-size: 1.5rem; // 24
        margin: 0 0 1rem 0;
    }
}

h5 {
    font-size: 1.125rem; // 18 
    line-height: 1.25;
    font-weight: 700;
    margin: 0 0 0.25rem;
    // margin: 0 0 1rem 0;

    @include breakpoint(medium) {
        font-size: 1.25rem // 20
    }
}

h6 {
    font-size: 0.875rem; // 14
    line-height: 1.25;
    font-weight: 700;
    margin: 0 0 0.25rem;

    @include breakpoint(medium) {
        font-size: 0.9375rem; // 15

    }
}

p {
    margin-bottom: 1.5rem;

    a {
        color: var(--color__primary);
    }
}

ul,
ol {
    li {
        a {
            color: var(--color__primary);
        }
    }
}

blockquote {
    font-size: 1.5rem;
    font-style: italic;
    position: relative;
    padding: 0 1.5rem;
    display: inline-block;

    &>p {
        margin-bottom: 0;

        @include breakpoint(medium) {
            margin-bottom: 1.5rem;
        }
    }

    &::before {
        content: '\201C';
        font-size: 6rem;
        line-height: 1;
        position: absolute;
        top: -0.5rem;
        left: -1rem;
        color: black;
        display: inline;
    }

}

h1,
h2,
h3,
h4,
h5,
h6 {
    // &.variableBackground {
    //     text-shadow: 2px 2px 2px black;
    //     font-weight: 700;
    //     color: white;
    // }

    a {
        color: var(--color__primary);
    }
}